html, body {
  height: 100%;
  width: 100%;
  
  display: flex;
}

.tab-container {
  width: 90%;
  height: 85%;
  margin: 2rem auto;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tab {
  flex: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  transition: background 0.3s ease;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.tab:hover {
  background: rgba(25, 25, 25, 0.35);
  backdrop-filter: blur(12px);
}

.tab.active {
  background: rgba(25, 25, 25, 0.35);
  backdrop-filter: blur(12px);
  color: #fff;
}

.tab-content {
  display: none;
  color: #fff;
}

.tab-content.active {
  display: block;
}
